.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    width: 100%;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    margin-right: 30px;
}

.dropdown-btn {
    font-size: 16px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0.5rem;
    display: none;
    z-index: 1;
}

.dropdown-menu li {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px;
}

.search-btn {
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-btn:hover {
    background-color: #0056b3;
}